# ==========================
# SYSTEM / OS
# ==========================
.DS_Store

# ==========================
# BACKEND (Python / AI)
# ==========================
# Virtual Environments
backend/.venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Security / Environment Variables
.env

# RAG Database & Raw Files
backend/chroma_db/
backend/data/

# ==========================
# FRONTEND (React / Node)
# ==========================
frontend/node_modules/
frontend/dist/
